.chooseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.myInvestments {
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.investmentCardBorder {
  border: 1px solid rgba(221, 146, 6, 0.845);
}

.investmentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 10px;
}

.boughtInvestmentCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  min-width: 300px;

  input {
    background-color: transparent;
    border: 1px solid grey;
    color: white;
    font-size: 24px;
    padding: 5px;
  }
}

.searchInvestmentForm {
  display: flex;
  input {
    background-color: transparent;
    border: 1px solid grey;
    color: white;
    font-size: 24px;
    padding: 5px;
    width: 180%;
  }
}

.investmentCardTableWrapper {
  width: 100%;
  td {
    text-align: center;
  }
}

.tableContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  max-width: 520px;
  gap: 20px;
}

.getRandomInvestmentButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
