.searchInvestmentForm {
  display: flex;
  margin: 0 auto;
  width: 75%;

  input {
    background-color: transparent;
    border: 1px solid grey;
    color: white;
    font-size: 24px;
    padding: 5px;
    width: 180%;
  }
}

.investmentInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;

  td {
    text-align: center;
  }
  input {
    background-color: transparent;
    border: 1px solid grey;
    color: white;
    font-size: 24px;
    padding: 5px;
  }
}

.boughtInvestmentList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  gap: 20px;
}
