.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cardChooseContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  width: 100%;

  button {
    width: 50%;
    margin: 0 auto;
  }
}

.title {
  font-size: 24px;
  text-align: center;
}
.description {
  text-align: center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
  min-height: inherit;
}
