.mainContent {
  margin-top: 10px;
}

.navUl {
  margin: 0 -15px;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.link {
  padding: 3px 10px;
  background-color: transparent;
}
.link:hover {
  background-color: rgba(169, 169, 169, 0.13);
}

.generalTableTD {
  width: 40%;
}
