.container {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1300px) {
    gap: 40px;
  }
}

.notValid {
  border: 3px solid red;
}

.valid {
  border: 3px solid greenyellow;
}

.navBar {
  display: flex;
  gap: 50px;
  padding: 0 0 20px 20px;
}

.main {
  margin-top: 20px;
}

.link {
  font-size: 20px;
}
.active {
  font-size: 20px;
  border-bottom: 3px solid white;
}
